@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> </title>


    @*<link href="~/Content/PagedList.css" rel="stylesheet" />*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



</head>


<body>
   
    <br/>

    <table class="table table-bordered">
        <tr>
            <th>Visit Date</th>
            <th>Follow Up</th>
            <th>Prescription</th>
            <th>Report</th>
            <th>View Follow Up</th>
         

        </tr>
        
        <tr>
            <td> 11/10/1991</td>
            <td> <input type="button" name="createfollowup" value="Create Follow Up" id="createFollowup"></td>
            <td><input type="button" name="prescription" value="Prescription" id="Prescription"> </td>
            <td> <input type="button" name="displayreport" value="Display Report" id="displayreport"></td>
            <td><input type="button" name="viewfollowup" value="View Follow Up" id="viewFollowup"> </td>
        </tr>


    </table>

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>


</body>
</html>





